* {
    margin: 0;
    padding: 0;

}

.icone-olho {
    position: absolute;
    top: 45%;
    right: 80px;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 999;
    filter: contrast(1);
}

body {
    background-image: url(assets/pexels-google-deepmind-18069156.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.geral {
    position: relative;
    width: 55%;
    height: 500px;
    top: 100px;
    left: 350px;
    display: flex;
    border-radius: 10px;
    box-shadow: #717171 2px 2px 12px 2px;

}

.login {
    position: relative;
    width: 45%;
    height: 100%;

}

.balao {
    background-color: #0928;
    position: relative;
    width: 55%;
    height: 100%;

}

.of {
    position: relative;
    background-color: turquoise;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    z-index: 1;
    left: 30px;
    top: 220px;
    border: 5px solid rgb(34, 150, 138);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bola {
    width: 5px;
    height: 5px;
    background-color: white;
    box-shadow: white 0px 0px 10px 5px;
    border-radius: 50%;
    animation: animationn 3s infinite;
}

@keyframes animationn {
    to {
        box-shadow: white 0px 0px 10px 10px;

    }



}

.login2 {
    height: 500px;
    text-align: center;
    overflow: hidden;

}

.tema {


    position: relative;
    left: 30px;
    top: 80px;
    width: 100%;
    padding: 10px;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    justify-content: center;
}

.tema2 {
    margin: 5px;
    font-size: 30px;
}

.tema3 {
    margin: 0;
}

.formulario {
    position: relative;
    top: 80px;
    left: 30px;
}

.senha,
.email {
    margin: 10px;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 15px;
    border: none;
}

.botao {
    width: 60%;
    height: 40px;
    margin: 10px;
    border-radius: 15px;
    border: none;
    font-size: 15px;

    background-color: turquoise;
}

.balao img {
    width: 100%;
    height: 500px;

}

.esqueceu {
    position: relative;
    top: 100px;
}

.esqueceu a {
    text-decoration: none;
    color: #000000;
}


@media (max-width: 900px) {
    .balao {
        display: none;
    }

    .icone-olho {
        right: 110px;
    }

    .of {
        display: none;
    }

    .login {
        width: 100%;
        text-align: center;
    }

    .tema {
        left: 0;
    }

    .formulario {
        left: 0;
    }

    .geral {
        left: 200px;
    }
}

@media (max-width: 480px) {

    .login {
        width: 100%;
        text-align: center;
    }

    .icone-olho {
        left: 380px;
        top: 158px;
        font-size: 20px;
    }

    body {
        background-size: 100vh;
    }

    .tema {
        left: 0;
    }

    .formulario {
        left: 0;
        overflow: visible;
    }

    .geral {
        left: 0;
        top: 0;
        border-radius: 0;
        height: 100vh;
        width: 100%;
    }

    .email,
    .senha {
        position: relative;
        top: 50px;
        width: 80%;

        margin-top: 20px;
    }

    .botao {
        position: relative;
        top: 50px;
        width: 80%;
        margin-top: 30px;
    }

    .esqueceu {
        position: relative;
        font-size: 20px;
        top: 200px;
        z-index: 1000;
    }

    .login2 {
        height: 100vh;
    }
}

@media (max-width: 380px) {

    .icone-olho {
        left: 300px;

    }
}